<!-- <body> -->
<br>
  <div style="margin-left:10px; padding-bottom: 20px;">
  <mat-chip-list aria-label="Fish selection">
    <mat-chip style="background-color:rgba(220, 16, 94, 0.807);color: white;">All</mat-chip>
    <mat-chip style="background-color:rgba(180, 162, 162, 0.608);color: white;">Electronics</mat-chip>
    <mat-chip style="background-color:rgba(180, 162, 162, 0.608);color: white;">Computers</mat-chip>
    <mat-chip style="background-color:rgba(180, 162, 162, 0.608);color: white;">Mechanics</mat-chip>
    <mat-chip style="background-color:rgba(180, 162, 162, 0.608);color: white;">Aeronautics</mat-chip>
    <mat-chip style="background-color:rgba(180, 162, 162, 0.608);color: white;">Metallurgy</mat-chip>
  </mat-chip-list>
</div>
<!-- </body> -->